<div class="container">

    <h1><a href="/">JH's Portfolio</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <h2>I'm a passionate <span>developer</span> from Seoul</h2>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#header">홈 - Home</a></li>
        <li><a href="#about">내정보 - About</a></li>
        <li><a href="#resume">이력 및 스킬 - Resume</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">작업 Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="google-plus"><i class="icofont-skype"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
    </div>

  </div>